<!DOCTYPE html>
<html>
<head>
  <title>Marketapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	body {
  		background-color: linear-gradient(to bottom right, linen, white);
  	}

  	h1 {
  		color: maroon;
  		text-align: center;
  	}

  </style>
</head>
<body>

	<!-- Here's my application header -->
	<div>
		<%= link_to("Home", root_path) %>
		<%= link_to("Stores", stores_index_path) %>
	</div>

<%= yield %>

</body>
</html>
